:root {
  --grey: #f9fafb;
  --light-grey: #c4c4c4;
  --green: #4caf50;
  --dark-green: #204921;
  --red: #f44336;
  --dark-red: #8e271f;
  --blue: #1976d2;
  --dark-blue: #0d3d6c;
  --white: #ffffff;
  --orange: #ff9800;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
