.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: darken;
  flex-direction: column;
  text-align: center;
  p {
    max-width: 90%;
  }
  img {
    height: 50%;
    width: 50%;
  }
}
